<h1> Hello, <%= @current_user.username %>! </h1>
<h2> Today's Popular Paintings </h2>

<% @paintings.each do |painting| %>
  <div>
    Name: "<%= painting.painting_name %>", 
    Year: <%= painting.year %>
   
  </div>
<% end %>

<p>
<a href="/user_homepage"> My Homepage </a> </p>