<h1>Add a Painting</h1>

<form action="/index" method="POST">
  <label> Painting Name </label>
  <input type="text" required name="painting_name">

  <label> Painting Year </label>
  <input type="text" name="year">

  <input type="submit" value="Create">
</form>