<h1> Log In </h1>

<form method="post" action="/login">
  <input required type="text" name="username" placeholder="Username:">
  <input required type="password" name="password" placeholder="Password:">
  <input type="submit" value="Login">
</form>
