<h1> User Homepage </h1>

<h2>Welcome <%= current_user&.username %>!</h2>

<p> Here are your paintings:

<% @current_user&.paintings&.each do |painting| %>
  <div>
    <a href="/paintings/<%= painting.id %>"><%= painting.painting_name %></a>
  </div>
<% end %>

<p> <button type="button"><a href="/new"> Add New Painting</a></button>

<p> <button type="button"><a href="/index"> Click here to see today's popular paintings! </a></button> </p>

